<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftbox - Catégories</title>
</head>
<body>
    <ul>
        {% for categorie in categories %}
            <li>
                {{ categorie.id }} -
                {{ categorie.libelle }} -
                {{ categorie.description }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>