<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Giftbox{% endblock %}</title>
    <link rel="stylesheet" href="{{ css_path }}/style.css">
</head>
<body>
    <div class="container">
        <header>
            {% include 'header.twig' %}
        </header>

        <nav>
            {% include 'nav.twig' %}
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            {% include 'footer.twig' %}
        </footer>
    </div>
</body>
</html>