<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giftbox - Prestations</title>
</head>
<body>
    <ul>
        {% for prestation in prestations %}
            <li>
                {{ prestation.id }} -
                {{ prestation.libelle }} -
                {{ prestation.description }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
